body{
    background-image: url('smccnasipit_cover.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}
.header{
    text-align: center;
}

ul{
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
   background-color: rgba(0, 0, 0, 0.358);
}
li{
    float: left;
}
li a{
    display: block;
    padding: 14px 16px;
    text-align: center;
    color: rgb(255, 255, 255);
    text-decoration: none;
}
li a:hover{
    background-color:rgb(114, 114, 207);
}
figure{
    text-align: center;
}
body{
    background-color: floralwhite;
}
.program{
    color: rgb(16, 16, 12);
    background-color: rgba(255, 255, 255, 0.684);
    padding:50px 50px;
    font-size: 1.5;
    border-radius: 10px;
}
.programcas{
    text-align: center;
    color: rgb(16, 16, 12);
    background-color: rgba(255, 255, 255, 0.684);
    padding:50px 50px;
    line-height: 1.5;
    border-radius: 10px;
}
.program2{
    color: rgb(16, 16, 12);
    background-color: rgba(255, 255, 255, 0.684);
    padding:50px 50px;
    line-height: 1.5;
    border-radius: 10px;
}
p{
    color: rgb(16, 16, 12);
    background-color: rgba(255, 255, 255, 0.684);
    padding: 20px;
}
.program3{
    color: rgb(16, 16, 12);
    background-color: rgba(255, 255, 255, 0.684);
    padding:40px 20px 40px 20px;
    line-height: 1.5;
    border-radius: 10px;
}

.program4{
    text-align: center;
    color: rgb(16, 16, 12);
    background-color: rgba(255, 255, 255, 0.684);
    padding:30px 20px 60px 20px;
    font-size: smaller;
    line-height: 1.5;
    border-radius: 10px;
}
.program5{
    text-align: left;
    color: rgb(16, 16, 12);
    background-color: rgba(255, 255, 255, 0.684);
    padding:20px 20px 20px 20px;
    font-size: smaller;
    line-height: 1.5;
    border-radius: 10px;
}
ol{
    text-align: left;
    color: rgb(255, 255, 255);
    background-color: rgb(36, 0, 165);
    padding:40px 20px 200px 20px;
    font-size: smaller;
    line-height: 1.5;
    border-radius: 10px;
}
